This is the system {{ ansible_fqdn }}.
This is a {{ ansible_distribution }} version {{ ansible_distribution_version }} system.

Only use this system with permission.
You can request access from {{ system_owner }}.

Welcome to {{ ansible_hostname }}
Today's date is: {{ ansible_date_time.date }}.
